In [1]:
import numpy as np
import pandas as pd

### For file 'lc_ms_raw_data.xlsx' sheet "Data"
>the NaN values is dropped and the rows reduces to 48 from 66
>we can groupby the Control and Ikaros and get the content with time
>need more insights on the columns information

In [33]:
df1 = pd.read_excel (r'lc_ms_raw_data.xlsx', sheet_name='Data')
len(df1)

66

In [32]:
df1_1=df1.dropna()
len(df1_1)

48

In [34]:
df1_1.head()

,order,biol batch,time point,condition,label,Id,exp batch,L-histidine,L-Histidine-13C,L-4-hydroxyproline,...,3-methoxytyrosine,Unnamed: 151,Val_13C,Leu_13C,ILe_13C,Met_13C,Phe_13C,Trp_13C,Spermine-13C,Putrescine-13C
4,5,11.0,0h,Control,1358BZU_0025_A1_11_0_Control,1358BZU_0025,1,8235.722,29538.568,3133.795,...,18.341,880579.313,880579.313,112986.438,140750.578,3346.035,62100.215,14707.441,2992.222,880.579313
5,6,11.0,0h,Ikaros,1358BZU_0026_A1_11_0_Ikaros,1358BZU_0026,1,11917.588,30157.824,4762.443,...,0.000,882716.688,882716.688,122762.055,148453.141,3465.771,65973.172,15887.793,373.486,882.716688
6,7,11.0,6h,Ikaros,1358BZU_0030_A1_11_6_Ikaros,1358BZU_0030,1,12345.035,32541.709,4876.142,...,80.605,1045166.125,1045166.125,142370.703,171452.969,4138.896,73660.172,17382.131,154.020,1045.166125
7,8,11.0,6h,Control,1358BZU_0029_A1_11_6_Control,1358BZU_0029,1,14604.598,35689.855,5837.459,...,39.295,1079449.375,1079449.375,147945.797,182937.031,4375.740,77438.391,18475.631,114.439,1079.449375
8,9,11.0,18h,Control,1358BZU_0033_A1_11_18_Control,1358BZU_0033,1,15270.735,30916.240,5976.044,...,26.343,968728.938,968728.938,130623.594,161528.828,3620.861,72919.234,17065.119,566.562,968.728938

## For file 'lc_ms_raw_data.xlsx' sheet 'IS' 
>there is no missing value 
> and has 71 rows

In [23]:
df2= pd.read_excel (r'lc_ms_raw_data.xlsx', sheet_name='IS')
df2.head()

,Unnamed: 0,Unnamed: 1,L-Histidine-13C,Asn_13C,o-phosphoethanolamine13C,L-Asparagine-13C,L-Serine-13C,Arg13C,L-Glutamine-13C,Glycine-13C,...,Tyr13C,L-lysine-13C,Trp13C,L-isoleucine-13C,L-leucine-13C,L-phenylalanine-13C,putrescine-13C,Met13C,Val13C,spermine13C
0,1358BZU_0001Blank_A1,NaN,0.625,0.784,0.000,0.703,0.382,0.159,0.213,4.020,...,0.000,0.871,0.161,0.777,0.986,12.135,227.694,0.000,0.000,0.131
1,1358BZU_0001Blank_B1,NaN,29804.260,135452.719,465.414,135452.719,228117.531,317246.156,1244240.500,176739.547,...,66730.141,798688.375,15409.598,131084.641,108215.750,64207.199,35048.242,3172.035,910079.625,1519.934
2,1358BZU_0001QC_A1,NaN,29214.545,132061.594,397.551,132061.594,218418.016,303464.438,1190890.250,163534.406,...,61701.570,777030.313,15622.503,137793.406,111905.805,62357.672,25541.867,3477.422,888161.125,1761.261
3,1358BZU_0001QC_B1,NaN,28727.332,132556.797,401.764,133122.141,219845.828,307203.063,1156542.250,163139.016,...,62067.500,770916.125,14426.333,136360.156,111379.320,62128.016,23575.166,3236.348,876974.938,1898.082
4,1358BZU_0025_A1,NaN,29538.568,134959.109,350.705,134959.109,222457.547,348527.406,1161339.250,168631.641,...,63850.508,801571.375,14707.441,140750.578,112986.438,62100.215,41275.020,3346.035,880579.313,2992.222

In [40]:
df2.isnull().values.any()

True

In [42]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'L-Histidine-13C', 'Asn_13C',
       'o-phosphoethanolamine13C', 'L-Asparagine-13C', 'L-Serine-13C',
       'Arg13C', 'L-Glutamine-13C', 'Glycine-13C', 'L-homoserine-13C',
       'L-asparctic acid-13C', 'L-glutamic acid-13C', 'L-threonine-13C',
       'citrulline-13C', 'ethanolamine-13C', 'gamma-aminobutyric acid-13C',
       'L-alanine-13C', ' 5-aminolevulinic acid-13C',
       'gamma-L-glutamyl-L-alanine-13C', 'L-proline-13C',
       'L-2-aminoadipic acid-13C', 'L-alpha-aminobutyric acid-13C',
       'Ornithine-13C', 'Tyr13C', 'L-lysine-13C', 'Trp13C', 'L-isoleucine-13C',
       'L-leucine-13C', 'L-phenylalanine-13C', 'putrescine-13C', 'Met13C',
       'Val13C', 'spermine13C'],
      dtype='object')

In [43]:
del df2['Unnamed: 1']

In [44]:
df2.head()

,Unnamed: 0,L-Histidine-13C,Asn_13C,o-phosphoethanolamine13C,L-Asparagine-13C,L-Serine-13C,Arg13C,L-Glutamine-13C,Glycine-13C,L-homoserine-13C,...,Tyr13C,L-lysine-13C,Trp13C,L-isoleucine-13C,L-leucine-13C,L-phenylalanine-13C,putrescine-13C,Met13C,Val13C,spermine13C
0,1358BZU_0001Blank_A1,0.625,0.784,0.000,0.703,0.382,0.159,0.213,4.020,0.000,...,0.000,0.871,0.161,0.777,0.986,12.135,227.694,0.000,0.000,0.131
1,1358BZU_0001Blank_B1,29804.260,135452.719,465.414,135452.719,228117.531,317246.156,1244240.500,176739.547,16720.672,...,66730.141,798688.375,15409.598,131084.641,108215.750,64207.199,35048.242,3172.035,910079.625,1519.934
2,1358BZU_0001QC_A1,29214.545,132061.594,397.551,132061.594,218418.016,303464.438,1190890.250,163534.406,16997.100,...,61701.570,777030.313,15622.503,137793.406,111905.805,62357.672,25541.867,3477.422,888161.125,1761.261
3,1358BZU_0001QC_B1,28727.332,132556.797,401.764,133122.141,219845.828,307203.063,1156542.250,163139.016,16783.184,...,62067.500,770916.125,14426.333,136360.156,111379.320,62128.016,23575.166,3236.348,876974.938,1898.082
4,1358BZU_0025_A1,29538.568,134959.109,350.705,134959.109,222457.547,348527.406,1161339.250,168631.641,17727.186,...,63850.508,801571.375,14707.441,140750.578,112986.438,62100.215,41275.020,3346.035,880579.313,2992.222

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      66 non-null     object
 1   L-Histidine-13C                 66 non-null     float64
 2   Asn_13C                         67 non-null     float64
 3   o-phosphoethanolamine13C        68 non-null     float64
 4   L-Asparagine-13C                69 non-null     float64
 5   L-Serine-13C                    69 non-null     float64
 6   Arg13C                          69 non-null     float64
 7   L-Glutamine-13C                 69 non-null     float64
 8   Glycine-13C                     69 non-null     float64
 9   L-homoserine-13C                69 non-null     float64
 10  L-asparctic acid-13C            69 non-null     float64
 11  L-glutamic acid-13C             69 non-null     float64
 12  L-threonine-13C                 69 non-null     float64
 13  citrulline-13C                  69 non-null     float64
 14  ethanolamine-13C                69 non-null     float64
 15  gamma-aminobutyric acid-13C     69 non-null     float64
 16  L-alanine-13C                   69 non-null     float64
 17   5-aminolevulinic acid-13C      69 non-null     float64
 18  gamma-L-glutamyl-L-alanine-13C  69 non-null     float64
 19  L-proline-13C                   69 non-null     float64
 20  L-2-aminoadipic acid-13C        69 non-null     float64
 21  L-alpha-aminobutyric acid-13C   69 non-null     float64
 22  Ornithine-13C                   69 non-null     float64
 23  Tyr13C                          69 non-null     float64
 24  L-lysine-13C                    69 non-null     float64
 25  Trp13C                          69 non-null     float64
 26  L-isoleucine-13C                69 non-null     float64
 27  L-leucine-13C                   69 non-null     float64
 28  L-phenylalanine-13C             69 non-null     float64
 29  putrescine-13C                  69 non-null     float64
 30  Met13C                          69 non-null     float64
 31  Val13C                          69 non-null     float64
 32  spermine13C                     69 non-null     float64
dtypes: float64(32), object(1)
memory usage: 18.4+ KB

### For file 'STATegra_RNAseq_allSamples_counts.xls'
> there are no missing values
>has 12762 rows

In [15]:
df3=pd.read_excel(r'STATegra_RNAseq_allSamples_counts.xls')

In [35]:
df3.head()

,Unnamed: 0,ExpBatch_4_Ctr_0H,ExpBatch_5_Ctr_0H,ExpBatch_6_Ctr_0H,ExpBatch_1_Ctr_2H,ExpBatch_2_Ctr_2H,ExpBatch_3_Ctr_2H,ExpBatch_1_Ctr_6H,ExpBatch_2_Ctr_6H,ExpBatch_3_Ctr_6H,...,ExpBatch_3_Ik_6H,ExpBatch_1_Ik_12H,ExpBatch_2_Ik_12H,ExpBatch_3_Ik_12H,ExpBatch_1_Ik_18H,ExpBatch_2_Ik_18H,ExpBatch_3_Ik_18H,ExpBatch_1_Ik_24H,ExpBatch_2_Ik_24H,ExpBatch_3_Ik_24H
0,ENSMUSG00000000001,3336,3584,6999,3565,4574,1794,4682,4290,1378,...,4178,5307,3868,3621,5401,4378,5140,6572,3992,5975
1,ENSMUSG00000000028,5801,7374,10889,6588,8138,7617,14676,8539,5900,...,9642,10902,7901,13661,7702,5287,5866,4644,4161,4319
2,ENSMUSG00000000031,33,51,50,17,39,18,70,23,0,...,13,0,8,0,9,7,1,8,0,0
3,ENSMUSG00000000056,5925,4769,5311,2905,5846,2615,6802,5100,2488,...,6530,10795,8376,11644,12310,8682,9430,11625,7080,11953
4,ENSMUSG00000000078,656,436,827,444,698,471,1121,615,187,...,1083,3881,2476,1272,5788,3780,2832,6614,5992,4942

In [36]:
len(df3)

12762

In [38]:
df3.isnull().values.any()

False

In [21]:
#df4=pd.read_csv(r'Proteomics_01_uniprot_canonical_normalized.txt')